# Entorno virtual
.venv/
venv/
env/

# Variables de entorno y secretos
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
*.log
db.sqlite3
media/
staticfiles/

# IDEs / editores
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db